.reveal.slide {
    background-image: url("./background.png");
    background-size: cover;
    color: white;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal h2, .reveal h3 {
    text-transform: none;
}

.reveal h3 {
    font-size: 1.0em;
}

code {
    font-size: 0.7em;
}

.capabilities-table {
    font-size: 0.8em;
}
