.reveal.slide {
    background-image: url("./background-volcamp.png");
    background-size: cover;
    color: white ;
}

.entrypoint, .sponso {
    background-image: url("./intro-volcamp.png");
    background-size: cover;
    padding: 0 !important;
}

.entrypoint * , .sponso *{
    display: none;
    opacity: 0 !important;
}

.sponso {
    background-image: url("./sponso.png");
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal h2, .reveal h3 {
    text-transform: none;
}

.reveal h3 {
    font-size: 1.0em;
}

code {
    font-size: 0.7em;
}

.capabilities-table {
    font-size: 0.8em;
}

.slide-background.background-easy {
    background-image: url("easy.png");
    background-position: top 25px right 25px;
    background-repeat: no-repeat;
}

.slide-background.background-medium {
    background-image: url("medium.png");
    background-position: top 25px right 25px;
    background-repeat: no-repeat;
}

.slide-background.background-hard {
    background-image: url("hard.png");
    background-position: top 25px right 25px;
    background-repeat: no-repeat;
}
